<a href="javascript:void(0);" class="toggle-sidebar-btn"><img src="/static/site/img/toggle-btn-img.jpg" alt=""></a>
<div class="sidebar">
	<div class="row">
		<div class="col-xs-12">
			<div class="list-group">
				<a href="javascript:void(0);" class="list-group-item close-sidebar">HIDE <i class="fa fa-angle-double-right"></i></a>
  				<a href="{% url 'product' %}" class="list-group-item {% if active_link == 'product' %} active {% endif %}">
    				HOME
  				</a>
  				<a href="{% url 'home' %}" class="list-group-item {% if active_link == 'home' %} active {% endif %}">PRODUCT</a>
  				<a href="{% url 'services' %}" class="list-group-item {% if active_link == 'services' %} active {% endif %}">SERVICES</a>
  				<a href="{% url 'contact' %}" class="list-group-item {% if active_link == 'contact' %} active {% endif %}">CONTACT US</a>
  				<a href="{% url 'about' %}" class="list-group-item {% if active_link == 'about' %} active {% endif %}">ABOUT US</a>
			</div>
		</div>
	</div>
</div>